### Reading Data From Different Sources

In [2]:
import pandas as pd
from io import StringIO
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
df=pd.read_json(StringIO(Data))

In [3]:
df

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [4]:
df.to_json()

'{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

#### `df.to_json(orient='index')` Explanation
- When you use `.to_json(orient='index')`, `the DataFrame` is `converted` into a `dictionary-like JSON object`, where:
- The keys are the DataFrame's index values.
- The values are dictionaries representing each rowâ€™s data with column names as keys.

In [5]:
df.to_json(orient='index')

'{"0":{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [6]:
df.to_json(orient='records')

'[{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}]'

In [7]:
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",header=None)

In [8]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [9]:
df.to_csv("wine.csv")

- The `lxml` library in Python is a `powerful tool` for `parsing`, `manipulating`, and `processing XML and HTML` documents. 
- Itâ€™s `widely used` in `web scraping`, `data extraction`, and structured data handling tasks.

In [10]:
!pip install lxml

Collecting lxml
  Downloading lxml-5.3.1-cp312-cp312-win_amd64.whl.metadata (3.8 kB)
Downloading lxml-5.3.1-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.8 MB 882.6 kB/s eta 0:00:04
   -------- ------------------------------- 0.8/3.8 MB 987.4 kB/s eta 0:00:04
   ---------- ----------------------------- 1.0/3.8 MB 1.1 MB/s eta 0:00:03
   ------------- -------------------------- 1.3/3.8 MB 1.2 MB/s eta 0:00:03
   ---------------- ----------------------- 1.6/3.8 MB 1.2 MB/s eta 0:00:02
   ------------------- -------------------- 1.8/3.8 MB 1.2 MB/s eta 0:00:02
   --------------------- ------------------ 2.1/3.8 MB 1.1 MB/s eta 0:00:02
   --------------------- ------------------ 2.1/3.8 MB 1.1 MB/s eta 0:00:02
   ------------------------ --------------- 2.4/3.8 MB 1.1 MB/s eta 0:00:02
   --------------------------- ------------ 2.6/3.8 MB 1.1 MB/s eta 0:00:02
   -------------------------------- ------- 3.1/3.8 MB 1.1 MB/s eta 0:00:01
   -------------------------------- ------- 3.1/3.8 MB 1.1 MB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 1.1 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.1

- ðŸ’» Example 1: Parsing an HTML Document
- Here's a simple example of using lxml to parse HTML content:

In [11]:
from lxml import html

# Sample HTML string
html_content = """
<html>
    <head><title>Sample Page</title></head>
    <body>
        <h1>Welcome to Python!</h1>
        <p class="intro">Learn data science with Python libraries like pandas and numpy.</p>
        <p>Visit our <a href="https://example.com">website</a>.</p>
    </body>
</html>
"""

# Parsing the HTML
tree = html.fromstring(html_content)

# Extracting data using XPath
title = tree.xpath('//title/text()')[0]  # Extracts <title> content
paragraphs = tree.xpath('//p/text()')     # Extracts all paragraph text
link = tree.xpath('//a/@href')[0]        # Extracts link URLs

print("Title:", title)
print("Paragraphs:", paragraphs)
print("Link:", link)

Title: Sample Page
Paragraphs: ['Learn data science with Python libraries like pandas and numpy.', 'Visit our ', '.']
Link: https://example.com

- ðŸ’» Example 2: Parsing XML Data
- lxml is highly efficient for XML parsing as well.

In [12]:
from lxml import etree

# Sample XML string
xml_data = """
<library>
    <book id="1">
        <title>Python Crash Course</title>
        <author>Eric Matthes</author>
    </book>
    <book id="2">
        <title>Deep Learning with Python</title>
        <author>FranÃ§ois Chollet</author>
    </book>
</library>
"""

# Parsing XML data
root = etree.fromstring(xml_data)

# Extract book titles
titles = root.xpath('//book/title/text()')

print("Book Titles:", titles)

Book Titles: ['Python Crash Course', 'Deep Learning with Python']

#### ðŸ› ï¸ When to Use lxml?
- âœ… When you need fast and efficient parsing of XML or HTML.
- âœ… For web scraping projects that require robust HTML parsing.
- âœ… When performing XPath queries for targeted data extraction.
- âœ… For transforming data using XSLT or cleaning up messy HTML data.
#### ðŸš¨ Important Notes
- The lxml library is faster than BeautifulSoup when parsing large volumes of data.
- If your focus is on HTML data scraping, combining lxml with BeautifulSoup offers powerful capabilities.

In [13]:
!pip install html5lib
!pip install beautifulsoup4

Collecting html5lib
  Using cached html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in d:\python-bootcamp-25\venv\lib\site-packages (from html5lib) (1.17.0)
Collecting webencodings (from html5lib)
  Using cached webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Using cached webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Installing collected packages: webencodings, html5lib
Successfully installed html5lib-1.1 webencodings-0.5.1
Collecting beautifulsoup4
  Using cached beautifulsoup4-4.13.3-py3-none-any.whl.metadata (3.8 kB)
Collecting soupsieve>1.2 (from beautifulsoup4)
  Using cached soupsieve-2.6-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in d:\python-bootcamp-25\venv\lib\site-packages (from beautifulsoup4) (4.12.2)
Using cached beautifulsoup4-4.13.3-py3-none-any.whl (186 kB)
Using cached soupsieve-2.6-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.13.3 soupsieve-2.6

#### ðŸ”Ž html5lib and beautifulsoup4 Libraries Explained
- Both `html5lib` and `beautifulsoup4` are `popular Python libraries` primarily used `for web scraping and HTML/XML` parsing. 
- While they serve similar purposes, they have distinct functionalities. Here's a breakdown:

### 1. html5lib Library
ðŸ”¹ Purpose:
html5lib is an HTML parser that parses HTML documents exactly the way a web browser does â€” even with broken or poorly formatted HTML.

ðŸ”¹ Key Features:
- âœ… Parses HTML following the official HTML5 specification.
- âœ… Handles malformed HTML gracefully.
- âœ… Produces a clean and structured DOM tree (Document Object Model).
- âœ… Ensures maximum compatibility with web pages.

In [14]:
from bs4 import BeautifulSoup

# Sample malformed HTML content
html_content = """
<html>
    <head><title>Sample Page</title></head>
    <body>
        <h1>Welcome to Web Scraping!</h1>
        <p>Python libraries like <b>BeautifulSoup</b> and <i>html5lib</i> are powerful.</p>
    </body>
</html>
"""

# Parsing with html5lib
soup = BeautifulSoup(html_content, 'html5lib')

# Extracting data
print(soup.title.text)  # Extracts <title> content
print(soup.h1.text)     # Extracts <h1> content
print(soup.p.text)      # Extracts <p> content

Sample Page
Welcome to Web Scraping!
Python libraries like BeautifulSoup and html5lib are powerful.

#### When to Use html5lib?
- âœ… Best for parsing poorly formatted or broken HTML.
- âœ… Ideal when dealing with web pages that aren't strictly valid HTML.

### 2. beautifulsoup4 Library
ðŸ”¹ `Purpose:`
`beautifulsoup4` (commonly referred to as BeautifulSoup) is a powerful library `used to extract data` from `HTML and XML` documents.

ðŸ”¹ `Key Features:`
- âœ… Provides a user-friendly API for navigating and searching the HTML/XML tree.
- âœ… Supports multiple parsers like:
- html.parser (built-in Python parser)
- lxml (faster parser for well-structured HTML/XML)
- html5lib (best for handling messy or broken HTML).
- âœ… Excellent for tasks like web scraping, data extraction, and content manipulation.

In [15]:
from bs4 import BeautifulSoup
import requests

# Web scraping example
url = "https://example.com"
response = requests.get(url)

# Parsing with BeautifulSoup
soup = BeautifulSoup(response.text, 'html.parser')

# Extracting content
title = soup.title.text
all_links = [a['href'] for a in soup.find_all('a') if 'href' in a.attrs]

print("Title:", title)
print("Links:", all_links)

Title: Example Domain
Links: ['https://www.iana.org/domains/example']

#### When to Use beautifulsoup4?
- âœ… Best for general-purpose HTML/XML parsing.
- âœ… Perfect when combining with libraries like requests for web scraping.
- âœ… Great for navigating complex document trees using .find(), .find_all(), or .select() methods.

#### **3. Key Differences Between `html5lib` and `beautifulsoup4`**

| **Feature**               | **`html5lib`**            | **`beautifulsoup4`**             |
|---------------------------|----------------------------|----------------------------------|
| **Purpose**                | HTML5-compliant parser for fixing messy HTML. | Flexible parser for HTML/XML with various parsing options. |
| **Speed**                  | Slower due to strict compliance with HTML5 standards. | Faster when used with `lxml` parser. |
| **Handling Broken HTML**   | Excellent for parsing **malformed** or **incomplete** HTML. | Can handle malformed HTML, but not as effectively as `html5lib`. |
| **Parser Integration**     | Used as a **parser** with `BeautifulSoup`. | A complete library that can integrate with `html5lib`, `lxml`, or `html.parser`. |
| **Best Use Case**          | Parsing highly complex or messy web pages. | Ideal for general-purpose web scraping and data extraction. |

#### 4. Which One Should You Use?
- âœ… Use beautifulsoup4 with html.parser (faster) or lxml (faster with clean HTML).
- âœ… Use beautifulsoup4 with html5lib when dealing with poorly structured HTML or websites with complex tags.

ðŸ”¹ Recommended Combination for Web Scraping:

In [16]:
from bs4 import BeautifulSoup
import requests

url = "https://example.com"
response = requests.get(url)

# Best combination for flexibility and speed
soup = BeautifulSoup(response.text, 'lxml')  

print(soup.title.text)

Example Domain

#### 5. Summary
- `html5lib` â†’ Best for handling broken HTML or messy web pages.
- `beautifulsoup4` â†’ Excellent for data extraction, web scraping, and navigating HTML trees.
- `Combine` `beautifulsoup4 with html5lib` or `lxml` for `optimal results` based on your data structure.

In [19]:
url="https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"

df=pd.read_html(url)

In [21]:
df[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Republic First Bank dba Republic Bank,Philadelphia,PA,27332,"Fulton Bank, National Association","April 26, 2024",10546
1,Citizens Bank,Sac City,IA,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
2,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
3,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
4,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
...,...,...,...,...,...,...,...
564,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
565,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
566,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
567,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
568,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645

In [23]:
url="https://en.wikipedia.org/wiki/Mobile_country_code"
pd.read_html(url,match="Country",header=0)[0]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

#### Code explanation:
- **Step 1: Assigning the URL**
url = "https://en.wikipedia.org/wiki/Mobile_country_code"
This stores the Wikipedia URL as a string in the variable url.
- **Step 2: Reading the HTML Table**
pd.read_html(url, match="Country", header=0)
pd.read_html() is a powerful Pandas function that:
Reads HTML tables directly from a web page URL.
Searches for tables that contain the word "Country" (because of match="Country"). 
- This filters tables to only those related to countries.
The header=0 parameter ensures that the first row of the table is treated as the column headers.

- **Step 3: Selecting the First Table**
[0] is used to select the first matching table in the list of tables extracted from the web page. pd.read_html() returns a list of DataFrames, so [0] accesses the first one.

In [17]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

#### installs the openpyxl library, which is a powerful Python package used for reading, writing, and modifying Excel (.xlsx) files.

- Key Features of openpyxl
- Read and Write Excel Files: Ideal for working with .xlsx and .xlsm files (Excel 2007+ format).
- Data Manipulation: Allows you to modify cell values, add formulas, format cells, and insert charts.
- Efficient for Automation: Commonly used in data analysis, reporting, and automation tasks.
- Compatible with Pandas: Often integrated with Pandas for easier data handling.

In [18]:
df_excel=pd.read_excel('data.xlsx')

In [19]:
df_excel.to_pickle('df_excel')

In [20]:
pd.read_pickle('df_excel')

    Name  Age
0  Krish   32
1   Jack   34
2   John   31

### other examples using this library

#### 1. Writing Data to Excel

In [21]:
from openpyxl import Workbook

# Create a workbook and select the active worksheet
wb = Workbook()
ws = wb.active

# Add data to cells
ws['A1'] = "Name"
ws['B1'] = "Age"
ws.append(["Alice", 30])
ws.append(["Bob", 25])

# Save the workbook
wb.save("sample.xlsx")

#### 2. Reading Data from Excel

In [22]:
from openpyxl import load_workbook

# Load the workbook
wb = load_workbook("sample.xlsx")
ws = wb.active

# Access cell data
print(ws['A1'].value)   # Output: Name
print(ws['B2'].value)   # Output: 30

# Loop through rows
for row in ws.iter_rows(values_only=True):
    print(row)

Name
30
('Name', 'Age')
('Alice', 30)
('Bob', 25)

#### 3. Modifying Excel Data

In [23]:
ws['B2'] = 32  # Change Alice's age to 32
wb.save("sample.xlsx")

#### 4. Using openpyxl with Pandas The openpyxl library is often used as an engine for Pandas' .to_excel() and .read_excel() functions.
- âœ… Writing DataFrame to Excel:

In [24]:
df = pd.read_excel("data.xlsx", engine='openpyxl')
print(df)

    Name  Age
0  Krish   32
1   Jack   34
2   John   31

- When to Use openpyxl
- When dealing with .xlsx files specifically (Pandas alone may not always support Excel features like charts, formulas, etc.).
- When you need to format Excel cells, apply styles, or manage worksheets directly.
- For automated reporting that involves creating customized Excel files.